# Ignore all .log files
*.log

# Ignore the 'node_modules' directory
node_modules/

# Ignore a specific file named 'config.env'
.env

# Ignore all files in the 'build' directory
build/

# Ignore a specific file type in a specific directory
/temp/*.tmp